<html>
<head>
<style>

.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.newspaper1 {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}


h1 {

    font: 3.5em damion;
    text-align: center;
  }
  

h2 {
   font: 2em damion;
   text-align: center;
}

 p {
    font: Roboto;
    text-align: center;
 padding: 0cm 3cm 0cm 3cm;
 }
 
div {
    background-color: lightgrey;
     text-align: justify;
    width: 500px;
    hight: 500px;
    padding:20px 30px 20px 30px;
    margin: 25px;
}