body {
    background-color: white;
}

<style> 
h1 {

    font: 3.5em damion, center;
  
  }

h2 {
   font: 2em damion, center, black;
}
  
div.1 {
     -webkit-columns: 100px 2; 
    font-family: Roboto, 100%;
    background-color: lightgrey;
    width: 300px;
    border: 25px lightblue;
    padding: 25px;
    margin: 25px;
}